<div class="full" id="home-banner">
  <img src="images/whos_head.png" width="100%" />
</div>

<div id="why-page">
<section class="body">
	<%= image_tag 'whos_using.png' %>
	<br><br><br>
<%= image_tag 'whos-body.png' %>
</section>
</div>



<div class="full">
</div><br><br><br><br>
<div class="colorstrip">
</div>
