<div class="full">
  <div class="center">

    <h1 id="clients-title">We started with a whisper and ended with a kiss</h1>

    <section id="clients-left">
      <%= image_tag 'ackolade.png' %>
      
    </section>


  </div>
</div>