<div class="full">
  <div class="center">

    <h1 id="clients-title">We started with a whisper and ended with a kiss</h1>

    <section id="clients-left">
      <%= image_tag 'clients-zappo-event.png' %>
      <h1>When Zappos asked us to help promote their event</h1>
      <p>We had an even better idea. We streamed their event live on Facebook, generated 150 tags, surveyed 100 people and offered all those who attended a special offer after the ceremony.</p>
      <p>The night lives on to this day</p>
    </section>

    <%= image_tag 'clients-zappo-promo.png', :id => 'clients-right' %>

  </div>
</div>