<div class="full">
  <div class="center">

    <div id="how-video">
      <h1>Snap, Tap and Go</h1>

      <%= image_tag 'snap-tap-and-go-graphic.png' %>

      <div class="video">
        <iframe width="666" height="441" src="http://www.youtube.com/embed/C-cT2XMgzl0?showinfo=0&autoplay=1" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>

    <div id="how-blocks">
      <section class="snap">
        <h1>Photographers snap</h1>
        <p>and photos are beamed to our proprietary tablet through our technology.</p>
      </section>
      <section class="tap">
        <h1>Patrons tap</h1>
        <p>and save their coveted moments to their walls on Facebook - attracting impressions, shares, likes and actions.</p>
      </section>
      <section class="amplify">
        <h1>Amplify and Broadcast</h1>
        <p>Automatically create a live photo stream in your patron's circles and on your FB page. </p>
      </section>
    </div>

  </div>
</div>

<script>
  $('#how-video .video img').click(function () {
    var $this = $(this)
      , parent = $this.parent()
      , iframe = parent.find('iframe');

    $this.hide();
    iframe.show().appendTo(parent);
  });
</script>