<div class="full">
  <div class="center">

    <div id="how-video">
      <h1>Snap, Tap and Go</h1>

      <%= image_tag 'snap-tap-and-go-graphic.png' %>

      <div class="video">
        <iframe width="666" height="441" src="http://www.youtube.com/embed/WQJbMiAQ9mA?showinfo=0&autoplay=1" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>

    <div id="how-blocks">
      <section class="snap">
        <h1>Photographers Snap</h1>
        <p>and photos are beamed to our proprietary tablet through our technology.</p>
      </section>
      <section class="tap">
        <h1>Patrons Tap</h1>
        <p>and save their coveted moments to their walls on Facebook - attracting impressions, shares, likes and actions.</p>
      </section>
      <section class="amplify">
        <h1>Amplify and Broadcast</h1>
        <p>Automatically create a live photo stream in your patron's circles and on your FB page. </p>
      </section>
    </div>
   
  </div>
   <section id="how-track" class="full">
      <div class="light center">
        <section class="track">
          <%= image_tag 'dash.jpg' %>
          <h1>Track the impact in real-time & measure results</h1>
          <p>Access real-time analytics and track the progress of your events, the amplification metrics and impressions.</p>
          <%= link_to 'Demo', "http://arcane-garden-1133.herokuapp.com/login" %>
        </section>
        <div class="blocks">
          <section class="tags">
            <h1>Likes and Tags</h1>
            <p>Measure the number of likes and tags at each event. Keep tabs on the impact on your brand with our tracking tools.</p>
          </section>
          <section class="contacts">
            <h1>Contact Data</h1>
            <p>Capture emails and phone information from your patrons - email them promotions and send them news and updates.</p>
          </section>
          <section class="cloud">
            <h1>Hosted</h1>
            <p>Never worry about your photos, data and analytics. We store everything in the cloud.</p>
          </section>
        </div>
      </div>
    </section>
</div>

<script>
  $('#how-video .video img').click(function () {
    var $this = $(this)
      , parent = $this.parent()
      , iframe = parent.find('iframe');

    $this.hide();
    iframe.show().appendTo(parent);
  });
</script>