<div class='full'>
  <div class='privacy'>
    <h1> PRIVACY POLICY</h1>
    <div>
      <p>This Privacy Policy discloses the privacy practices for the Tagkast (formerly Poggled) websites and applications (collectively, the "Website"). Poggled Inc, (dba Tagkast) a Delaware corporation, the provider of the Website (referred to as "us" or "we"), is committed to protecting your privacy online. Please read the following to learn what information we collect from you (the "User" or the "End User") and how we use that information. If you have any questions about our privacy policy, please email us.</p>
      <p> PLEASE READ THIS PRIVACY POLICY CAREFULLY. BY ACCESSING OR USING OUR WEBSITE, YOU ACKNOWLEDGE THAT YOU HAVE READ, UNDERSTAND, AND AGREE TO BE BOUND TO ALL THE TERMS OF THIS PRIVACY POLICY AND OUR WEBSITE TERMS OF USE. IF YOU DO NOT AGREE TO THESE TERMS, EXIT THIS PAGE AND DO NOT ACCESS OR USE THE WEBSITE.</p>
      
      <h2>I. CHANGES TO PRIVACY POLICY</h2>
      <p> We may change this Privacy Policy at any time by posting the revised Privacy Policy in the "Privacy Policy" section of the Website. The revised Privacy Policy is effective immediately when posted on the Website. It is the responsibility of each User to review the Website and the Privacy Policy periodically to learn of any revisions to this Privacy Policy. Your continued use of the Website after the effectiveness of such revisions will constitute your acknowledgment and acceptance of the terms of the revised Privacy Policy.</p>


      <h2>II. TYPES OF INFORMATION COLLECTED AND USES OF COLLECTED INFORMATION</h2>
      <p>We collect two types of information about our Website Users: Personally Identifiable Information and Non-Personally Identifiable Information.</p>

      <h4>Personally Identifiable Information</h4>
      <p>Personally Identifiable Information is information that identifies a specific End User. When you engage in certain activities on the Website (collectively, "Identification Activities"), we may ask you to provide certain information about yourself. It is optional for you to engage in an Identification Activity. If you elect to engage in an Identification Activity, however, we may ask you to provide us with certain personal information about yourself, such as your first and last name, mailing address (including zip code), email address, telephone number and date of birth. When you order products or services, we may also ask you to provide us with your credit card number, expiration date and authentication codes or related information. Depending on the activity, some of the information we ask you to provide is identified as mandatory and some is identified as voluntary. If you do not provide the mandatory information for a particular activity that requires it, you will not be permitted to engage in that activity.</p>
      <p>We use Personally Identifiable Information to provide products and services to you, administer sweepstakes and contests, enhance the operation of the Website, improve our marketing and promotional efforts, analyze Website use, improve our product and service offerings, and to tailor your experience with third parties as provided in Item III of this Privacy Policy. For example, if you send our customer service an email we may use your comments and feedback to tell others about our services, and may post your comment in our marketing materials or on our Website. In addition, if you use our Website to send information or a product to another person, we may store your personal information, and the personal information of any recipient. We may also use Personally Identifiable Information to troubleshoot, resolve disputes, accomplish administrative tasks, contact you, enforce our agreements with you, including our Website Terms of Use and this Privacy Policy, comply with applicable law, and cooperate with law enforcement activities.</p>

      <h4>Non-Personally Identifiable Information</h4>
      <p>Non-Personally Identifiable Information is information that does not identify a specific End User. This type of information may include things like the Uniform Resource Locator ("URL") of the website you visited before coming to our Website, the URL of the website you visit after leaving our Website, the type of browser you are using and your Internet Protocol ("IP") address. We, and/or our authorized Third Party Service Providers and Advertisers, may automatically collect this information when you visit our Website through the use of electronic tools like Cookies and Web beacons or Pixel tags.</p>
      <p>We use Non-Personally Identifiable Information to troubleshoot, administer the Website, analyze trends, gather demographic information, comply with applicable law, and cooperate with law enforcement activities. We may also share this information with our authorized Third Party Service Providers and Advertisers to measure the overall effectiveness of our online advertising, content, and programming.</p>
      <p>We do not knowingly contact or collect personal information from children under 13. If you believe we have inadvertently collected such information, please contact us so we can remove the information.</p>
      <p>We also do not knowingly contact or collect personal information from users under 21 years of age. Users must be 21 to use Tagkast.</p>
      <h4>We may collect but do not share your location history.</h4>
      <p>To customize our service for you, we may collect and store your precise geographic location as part of your user profile. This data generally is not shared with others. We may ask for your consent on your first use of the service.</p>
      
      <h4>Credit Card Data Safety</h4>
      <p>We take the privacy of your credit card information very seriously. We will never charge your credit card without your consent or share your credit card information with anyone - third parties or otherwise. The last four digits of credit card numbers submitted to Tagkast are SSL encrypted and stored in Tagkast's internal database. The remainder of credit card information is stored by CyberSource. CyberSource is committed to privacy and security. CyberSource is compliant with the Payment Card Industry Data Security Standard ("PCI DSS") as a Level 1 service provider. CyberSource has been compliant with PCI DSS since its inception in 2002. PCI DSS is the bankcard industry's most stringent security standard. Examples of CyberSource's security measures include: physical, electronic, and procedural safeguards; sophisticated security monitoring tools; documented security policies; use of strong encryption for transmissions of Order Information to and from CyberSource Customers; restricted access of personally identifiable information; and, periodic security audits by third party security experts.</p>
      
      <h4>You can request to see your personal data.</h4>
      <p>You can sign into your account to see any personally identifiable information we have stored, such as your name, email, address or phone number. You can also contact us by email to request to see this information. Please email helpdesk@tagkast.com if you would like to see your personal data.</p>
      <h4>We may keep data indefinitely.</h4>
      <p>We may keep data indefinitely.</p>
      <h4>We may share personal data with companies we trust.</h4>
      <p>We may share personally identifiable information (such as name, address, email or phone) with trusted partners in order to provide you with relevant advertising, offers or services.</p>
      <p>California residents are legally entitled (at no charge and no more than once annually) to request information about how we may have shared your information with others for direct marketing purposes. Contact us for this information: http://tagkast.com/pricing OR helpdesk@tagkast.com Tagkast, 600 W Chicago Ave. Suite 740 Chicago, IL 60654</p>
      
      <h4>You can ask privacy questions or opt-out of marketing.</h4>
      <p>If you have any questions or concerns about our privacy policies, please contact us: http://www.poggled.com/chicago/contact OR helpdesk@tagkast.com Poggled, Inc. 600 W Chicago Ave. Suite 740 Chicago, IL 60654</p>
      <p>If you have given us contact information but do not want us to contact you with promotional or marketing information, you can opt-out by emailing helpdesk@tagkast.com or clicking on the unsubscribe link in any promotional email.</p>
      <p>Please allow sufficient time for us to process your request.</p>
      
      <h4>Service providers access data on our behalf.</h4>
      <p>In order to serve you, we may share your personal and anonymous information with other companies, including vendors and contractors. Their use of information is limited to these purposes, and subject to agreements that require them to keep the information confidential. Our vendors provide assurance that they take reasonable steps to safeguard the data they hold on our behalf, although data security cannot be guaranteed. We will never share your credit card information.</p>
      <p>Analytics companies may access anonymous data (such as your IP address or device ID) to help us understand how our services are used. They use this data solely on our behalf. They do not share it except in aggregate form; no data is shared as to any individual user. Click to see company privacy policies that govern their use of data.</p>
      
      <h4>We take detailed steps to protect personal information.</h4>
      <p>We take reasonable administrative, physical and electronic measures designed to safeguard and protect your information from unauthorized access or disclosure. This includes utilizing Secure Sockets Layer (SSL) software, which encrypts the personal information you input, and storing your information in encrypted form behind a firewall designed to block access from outside our network. However, no security or encryption method can be guaranteed to protect information from hackers or human error.</p>
      <p>Information we collect may be stored or processed on computers located in any country where we do business.</p>
      
      <h4>Special situations may require disclosure of your data.</h4>
      <p>To operate the service, we also may make identifiable and anonymous information available to third parties in these limited circumstances: (1) with your express consent, (2) when we have a good faith belief it is required by law, (3) when we have a good faith belief it is necessary to protect our rights or property, or (4) to any successor or purchaser in a merger, acquisition, liquidation, dissolution or sale of assets. Your consent will not be required for disclosure in these cases, but we will attempt to notify you, to the extent permitted by law to do so.</p>
      

      <h3>Facebook Connect</h3>
      <p>Tagkast offers Facebook users the opportunity to interact with friends and to share on Facebook using Facebook Connect. If you are logged into both Tagkast and Facebook, when you use the Site's Facebook connection functions, we will link your Facebook account with your Tagkast account if the email addresses match. If the email addresses do not match, we ask you if you want to link them and you must validate that you control the accounts. If you are already logged into Tagkast but not logged into Facebook, when you use the Site's Facebook connection functions, you will be prompted to enter your Facebook credentials or to sign up for Facebook. By proceeding through any of these scenarios, you grant Tagkast permission to access your Facebook profile information and to use it in accordance with the Facebook terms of use and this Privacy Statement.</p>
      <p>If you are not currently registered as a Tagkast user and you use the Site's Facebook connection functions, you will first be asked to enter your Facebook credentials and then be given the option to register and join Tagkast. Once you register with Tagkast and connect with Facebook, you will be able to automatically post recent Tagkast activity back to Facebook. Please refer to the privacy settings in your Facebook account to manage the privacy settings of your Facebook account.</p>
      
      <h2>III. POLICIES OF THIRD PARTY WEBSITES</h2>
      <p>This Privacy Policy only addresses the use and disclosure of information we collect from you. Other websites that may be accessible through this Website have their own privacy policies and data collection, use and disclosure practices. If you link to any such website, we urge you review the website's privacy policy. We are not responsible for the policies or practices of third parties.</p>
      
      <h4>Public Areas.</h4>
      <p>We may provide areas on our Website where you can publicly post information about yourself, can communicate with others, or can review products, bars, and submit media content. This information may be accessible by other consumers and companies and may appear on other websites or web searches, and therefore this information could be read, collected, and used by others. For example, if you post your email address along with a public bar review, you may receive unsolicited messages. We have no control over who reads your postings or what other users may do with the information you voluntarily post, so please use caution when posting any personal information.</p>
      <p>By posting photos with Tagkast you will associate your name and likeness with this liking activity for other visitors of the Tagkast app see. If you build out a profile with Tagkast, either by Facebook Connecting or manually, your picture, location, likes, and other information you share with us may also be displayed by default. You have the ability to go into your My Account settings page and change your privacy settings for who can see your activity on the Tagkast website and applications.</p>
      
      <h4>Notice of Privacy Rights to California Residents.</h4>
      <p>California law requires that we provide you with a summary of your privacy rights under the California Online Privacy Protection Act (the "Act") and the California Business and Professions Code. As required by the Act, we will provide you with the categories of Personally Identifiable Information that we collect through the Website and the categories of third party persons or entities with whom such Personally Identifiable Information may be shared for direct marketing purposes at your request. California law requires us to inform you, at your request, (1) the categories of Personally Identifiable Information we collect and what third parties we share that information with; (2) the names and addresses of those third parties; and (3) examples of the products marketed by those companies. The Act further requires us to allow you to control who you do not want us to share that information with. To obtain this information, please send a request by email or standard mail to the address found below. When contacting us, please indicate your name, address, email address, and what Personally Identifiable Information you do not want us to share with Affiliated Businesses or Marketing Partners. The request should be sent to the attention of our legal department, and labeled "California Customer Choice Notice." Please allow 30 days for a response. Also, please note that there is no charge for controlling the sharing of your Personally Identifiable Information or requesting this notice.</p>
      
      <h2>IV. CONTACTING US</h2>
      <p>Whether you're a new or loyal customer, restaurant owner, marketer, publisher, media member or job seeker we'd like to stay connected and want to hear from you!</p>
      
      <h4>Corporate Address</h4>
      <p>Tagkast, 600 West Chicago Avenue, Suite 740 Chicago, Illinois 60654</p>
      
      <h4>For Customers</h4>
      <p>Customer Service Inquiries | helpdesk@tagkast.com | 1-855-764-4533</p>
      
      <h4>You can review more privacy-related information.</h4>
      <p>This privacy policy was last updated on May 3, 2012. Our privacy policy may change from time to time. If we make any material changes to our policies, we will place a prominent notice on our website or application. If the change materially affects registered users, we will send a notice to you by email, push notification or text.</p>
    </div>
  </div>
</div>

