<div class="full">
  <div class="center">

    <section id="tech-banner">
      <hgroup>
        <h1>Turn-key-tech-nology</h1>
      </hgroup>
    </section>
		
    <div id="why-blocks">
      <div class="left">
			<%= image_tag 'tech-left.png' %>
			<div class="content">
				<h1>Technology Partnership</h1>
				<p>Technology only package - your staff uses the equipment. Everything is completely prepared and ready to go. Minor configuration. Tech support and training included</p>
			</div>
			</div>
			
			<div class="right">
			<%= image_tag 'tech-right.png' %>
			<div class="content">
				<h1>Turnkey Marketing Program</h1>
				<p>Completely managed and staffed by TagKast professional photographers and models. </p>
			</div>
			</div>
    </div>

  </div>

	<section id="tech-track" class="full">
	  <div class="light center">
	    <section class="main">
	      <%= image_tag 'home-track.png' %>
	      <h1>Track the impact in real-time & measure results</h1>
	      <p>Access real-time analytics and track the progress of your events, the amplification metrics and impressions.</p>
	      <%= link_to 'Demo', root_path %>
	    </section>
	    <div class="blocks">
	      <section class="tags">
	        <h1>Likes and Tags</h1>
	        <p>Measure the number of likes and tags at each event. Keep tabs on the impact on your brand with our tracking tools.</p>
	      </section>
	      <section class="contacts">
	        <h1>Contact Data</h1>
	        <p>Capture emails and phone information from your patrons - email them promotions and send them news and updates.</p>
	      </section>
	      <section class="cloud">
	        <h1>Cloud Hosted</h1>
	        <p>All your data stored in the cloud instantly - never worry about files, software and storage.</p>
	      </section>
	    </div>
	  </div>
	</section>

</div>


<script>
  var lis = $('#tech-banner .handles li')
    , contents = $('#tech-banner .contents section');
  
  lis.click(function () {
    lis.removeClass('active');
    $(this).addClass('active');

    contents.hide();
    $($(this).find('a').attr('href')).show();
    
    return false;
  });

  lis.filter(':eq(0)').click();
</script>