<div class="full" id="home-banner">
  <img src="images/why.png" width="100%" />
</div>

<div id="why-page">
<section class="body">
<%= image_tag 'why-content.png' %>
</section>
</div>
<br /><br /><br /><br />

<section id="home-track" class="full">
  <div class="light center">
    <section class="main">
      <%= image_tag 'why-body.png' %>
     </section>
    </div>
  </div>
</section>
<br /><br /><br /><br />
<div id="why-page">
<section class="body">
<br /><br /><br /><br />
<%= image_tag 'why-footer.png' %>
</section>
</div>
<div class="full">
</div>
<div class="colorstrip">
</div>
