<div class="full" id="home-banner">
  <img src="images/why.png" width="100%" />
</div>

<div id="why-page">
<section class="body">
<%= image_tag 'why-content.png' %>
</section>
</div>
<br /><br /><br /><br />

<section id="home-track" class="full" style="margin-left:-35px;">
  <div class="light center">
    <section class="main">
      <%= image_tag 'tag.png' %>
      <div class="video" style="float:left;margin:70px 0 0 30px;">
           <iframe src="http://player.vimeo.com/video/52444803?badge=0" width="566" height="341" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
        </div>
     </section>
    </div>
  </div>
</section>
<br /><br /><br /><br />
<div id="why-page">
<section class="body">
<%= image_tag 'why-footer.png' %>
</section>
</div>
<div class="full">
</div>
<div class="colorstrip">
</div>
