<div class="full">
  <div class="center">

    <div id="why-reasons">
      <h1>We've got over a million reasons</h1>
      <%= image_tag 'why-middle.png' %>
    </div>

    <div id="why-blocks">
      <section class="influences">
        <h1>Create the Influences</h1>
        <p>Turn your patrons into influencers within the community. Their endorsements are a recommendation, testimonial and voucher all in one.</p>
      </section>
      <section class="emotion">
        <h1>Own the Emotion</h1>
        <p>Associate your identity with the fabulous moments captured in thousands of classic photos - be the inspiration.</p>
      </section>
      <section class="behaviour">
        <h1>Drive Behaviour</h1>
        <p>Use the data harvested to nudge your demographic through the consumer journey and build your brand ambassadorship.</p>
      </section>
    </div>

  </div>
</div>