<div class="full">
  <div class="center">

    <div id="why-reasons">
      <h1>We've got over a million reasons</h1>
      <%= image_tag 'why-middle.png' %>
    </div>

    <div id="why-blocks">
      <section class="influences">
        <h1>Create the Influences</h1>
        <p>Recommendations from friends are more trustworthy than paid ads.</p>
      </section>
      <section class="emotion">
        <h1>Own the Emotion</h1>
        <p>Associate your identity with the fabulous moments captured in thousands of classic photos - authentically.</p>
      </section>
      <section class="behaviour">
        <h1>Drive Behavior</h1>
        <p>Use data collected to drive desirable behavior. Social endorsements start a conversation about your product.</p>
      </section>
    </div>

  </div>
</div>